/* simple reset for browsers */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherits from body 
  ( as box sizing defaltly not inherited) */
  box-sizing: inherit;
}

/* root font size is set in html selector (for using rem unit) */
html {
  /* default is 16px
  we need 10px
  ( here 1 rem=10px) 
  */
  font-size: 62.5%;
}

/* changing fonts */
body {
  box-sizing: border-box;
}
