//this centers text
.u-center-text {
  //this centers the child which is inline-block
  text-align: center;
}

// this makes margin bottom of 8rem
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
